name: Keep Render App Awake

on:
  schedule:
    - cron: "*/20 * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render App
        run: |
          curl -I https://financetracker-k5yr.onrender.com/login
          curl -I https://ll-mt8k.onrender.com
